.body {
    margin: 0;
    width: 100vw;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0vw 10vw;
    /* width: 80%; */
}


.logo-menu {
    display: flex;
    align-items: center;
}

.logo-menu > img {
    width: 100px;
}

.lista-menu {
    margin: 0px 30px;
}

.lista-menu > a {
    text-decoration: none;
    margin: 0px 5px;
    color: red;
}

.contact-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-country {
    display: flex;
    margin: 0px 15px;
    width: 0px auto;
}

.site-country > img {
    width: 20px;
}

.contact-options > button {
    border: 1px solid white;
    padding: 8px 16px;
    background-color: blue;
    border-radius: 5px;
    color: red;
}

.sign-in {
    display: flex;
    align-items: center;
}